<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Main menu - Logged in</title>
	<script id="applicationScript" type="text/javascript" src="../../assets/navigation/Main_menu___Logged_in.js"></script>
</head>

<body>
	<div id="Main_menu___Logged_in" class="">
		<div id="Footer" class="Footer">
			<svg class="Footer_A2_Rectangle_1">
				<rect fill="rgba(49,50,51,1)" id="Footer_A2_Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920"
					height="150">
				</rect>
			</svg>
			<div id="_Lexilu_2019">
				<span>@Lexilu 2019</span>
			</div>
			<svg class="logo_wide">
				<pattern elementId="logo_wide_A2_Rectangle_3" id="logo_wide_A2_Rectangle_3_pattern" x="0" y="0"
					width="100%" height="100%">
					<image x="0" y="0" width="100%" height="100%" href="../../assets/navigation/logo_wide_A2_Rectangle_3_pattern.png"
						xlink:href="logo_wide_A2_Rectangle_3_pattern.png"></image>
				</pattern>
				<rect fill="url(#logo_wide_A2_Rectangle_3_pattern)" id="logo_wide" rx="0" ry="0" x="0" y="0"
					width="206.742" height="50">
				</rect>
			</svg>
			<div id="Privacy_statement">
				<span>Privacy statement</span>
			</div>
			<div id="Cookies___terms_of_use">
				<span>Cookies & terms of use</span>
			</div>
			<div id="About_us">
				<span>About us</span>
			</div>
			<div id="Report_an_issue___Get_help">
				<span>Report an issue / Get help</span>
			</div>
			<svg class="Line_1" viewBox="0 0 500 1">
				<path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
					stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 0 0 L 500 0">
				</path>
			</svg>
		</div>
		<div id="Header__logged_in_" class="Header__logged_in_">
			<svg class="background">
				<rect fill="rgba(255,255,255,1)" id="background" rx="0" ry="0" x="0" y="0" width="1920" height="100">
				</rect>
			</svg>
			<div id="links">
				<div id="My_account">
					<span>My account</span>
				</div>
				<div id="About_Us">
					<span>About Us</span>
				</div>
				<div id="Insights">
					<span>Insights</span>
				</div>
				<div id="Log_out">
					<span>Log out</span>
				</div>
			</div>
			<svg class="lang_en">
				<pattern elementId="lang_en_A2_Rectangle_6" id="lang_en_A2_Rectangle_6_pattern" x="0" y="0" width="100%"
					height="100%">
					<image x="0" y="0" width="100%" height="100%" href="../../assets/navigation/lang_en_A2_Rectangle_6_pattern.png"
						xlink:href="lang_en_A2_Rectangle_6_pattern.png"></image>
				</pattern>
				<rect fill="url(#lang_en_A2_Rectangle_6_pattern)" id="lang_en" rx="0" ry="0" x="0" y="0" width="25"
					height="17">
				</rect>
			</svg>
			<svg class="logo_wide_A2_Rectangle_7">
				<pattern elementId="logo_wide_A2_Rectangle_8" id="logo_wide_A2_Rectangle_8_pattern" x="0" y="0"
					width="100%" height="100%">
					<image x="0" y="0" width="100%" height="100%" href="../../assets/navigation/logo_wide_A2_Rectangle_8_pattern.png"
						xlink:href="logo_wide_A2_Rectangle_8_pattern.png"></image>
				</pattern>
				<rect fill="url(#logo_wide_A2_Rectangle_8_pattern)" id="logo_wide_A2_Rectangle_7" rx="0" ry="0" x="0"
					y="0" width="207.273" height="50">
				</rect>
			</svg>
		</div>
		<div id="Body">
			<div id="Menu">
				<div id="Welcome_back__Emmanuel__">
					<span>Welcome back, Emmanuel !</span>
				</div>
				<div id="Your_journey">
					<svg class="journey_background">
						<rect fill="rgba(248,248,248,1)" id="journey_background" rx="10" ry="10" x="0" y="0" width="250"
							height="250">
						</rect>
					</svg>
					<div id="Your_journey_A2_Text_11">
						<span>Your journey</span>
					</div>
					<svg class="journey_icon">
						<pattern elementId="journey_icon_A2_Rectangle_11" id="journey_icon_A2_Rectangle_11_pattern"
							x="0" y="0" width="100%" height="100%">
							<image x="0" y="0" width="100%" height="100%"
								href="../../assets/navigation/journey_icon_A2_Rectangle_11_pattern.png"
								xlink:href="journey_icon_A2_Rectangle_11_pattern.png"></image>
						</pattern>
						<rect fill="url(#journey_icon_A2_Rectangle_11_pattern)" id="journey_icon" rx="0" ry="0" x="0"
							y="0" width="128" height="128">
						</rect>
					</svg>
				</div>
				<div id="Rate_agencies">
					<svg class="rating_background">
						<rect fill="rgba(248,248,248,1)" id="rating_background" rx="10" ry="10" x="0" y="0" width="250"
							height="250">
						</rect>
					</svg>
					<div id="Rate_agencies_A2_Text_12">
						<span>Rate agencies</span>
					</div>
					<svg class="rating_icon">
						<pattern elementId="rating_icon_A2_Rectangle_14" id="rating_icon_A2_Rectangle_14_pattern" x="0"
							y="0" width="100%" height="100%">
							<image x="0" y="0" width="100%" height="100%" href="../../assets/navigation/rating_icon_A2_Rectangle_14_pattern.png"
								xlink:href="rating_icon_A2_Rectangle_14_pattern.png"></image>
						</pattern>
						<rect fill="url(#rating_icon_A2_Rectangle_14_pattern)" id="rating_icon" rx="0" ry="0" x="0"
							y="0" width="128" height="128">
						</rect>
					</svg>
				</div>
				<div id="Forum">
					<svg class="Forum_background">
						<rect fill="rgba(248,248,248,1)" id="Forum_background" rx="10" ry="10" x="0" y="0" width="250"
							height="250">
						</rect>
					</svg>
					<div id="Forum_A2_Text_13">
						<span>Forum</span>
					</div>
					<svg class="forum_icon">
						<pattern elementId="forum_icon_A2_Rectangle_17" id="forum_icon_A2_Rectangle_17_pattern" x="0"
							y="0" width="100%" height="100%">
							<image x="0" y="0" width="100%" height="100%" href="../../assets/navigation/forum_icon_A2_Rectangle_17_pattern.png"
								xlink:href="forum_icon_A2_Rectangle_17_pattern.png"></image>
						</pattern>
						<rect fill="url(#forum_icon_A2_Rectangle_17_pattern)" id="forum_icon" rx="0" ry="0" x="0" y="0"
							width="128" height="128">
						</rect>
					</svg>
				</div>
				<div id="Not_sure_what_to_do_">
					<span>Not sure what to do?</span>
				</div>
				<div id="Take_a_tour">
					<svg class="tour_background">
						<rect fill="rgba(248,248,248,1)" id="tour_background" rx="10" ry="10" x="0" y="0" width="500"
							height="125">
						</rect>
					</svg>
					<div id="Take_a_tour_A2_Text_15">
						<span>Take a tour</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>