<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Take a tour-slide2</title>
  <script id="applicationScript" type="text/javascript" src="../../assets/journey/Take_a_tour_slide2.js"></script>
</head>

<div>{{hi}}</div>

<body>
  <div id="Take_a_tour_slide2" class="">
    <div id="Header__logged_in_" class="Header__logged_in_">
      <svg class="background">
        <rect fill="rgba(255,255,255,1)" id="background" rx="0" ry="0" x="0" y="0" width="1920" height="100">
        </rect>
      </svg>
      <div id="links">
        <div id="My_account">
          <span>My account</span>
        </div>
        <div id="About_Us">
          <span>About Us</span>
        </div>
        <div id="Insights">
          <span>Insights</span>
        </div>
        <div id="Log_out">
          <span>Log out</span>
        </div>
      </div>
      <svg class="lang_en">
        <pattern elementId="lang_en_A4_Rectangle_3" id="lang_en_A4_Rectangle_3_pattern" x="0" y="0" width="100%"
          height="100%">
          <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/lang_en_A4_Rectangle_3_pattern.png"
            xlink:href="lang_en_A4_Rectangle_3_pattern.png"></image>
        </pattern>
        <rect fill="url(#lang_en_A4_Rectangle_3_pattern)" id="lang_en" rx="0" ry="0" x="0" y="0" width="25" height="17">
        </rect>
      </svg>
      <svg class="logo_wide">
        <pattern elementId="logo_wide_A4_Rectangle_5" id="logo_wide_A4_Rectangle_5_pattern" x="0" y="0" width="100%"
          height="100%">
          <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/logo_wide_A4_Rectangle_5_pattern.png"
            xlink:href="logo_wide_A4_Rectangle_5_pattern.png"></image>
        </pattern>
        <rect fill="url(#logo_wide_A4_Rectangle_5_pattern)" id="logo_wide" rx="0" ry="0" x="0" y="0" width="207.273"
          height="50">
        </rect>
      </svg>
    </div>
    <div id="Footer" class="Footer">
      <svg class="Footer_A4_Rectangle_6">
        <rect fill="rgba(49,50,51,1)" id="Footer_A4_Rectangle_6" rx="0" ry="0" x="0" y="0" width="1920" height="150">
        </rect>
      </svg>
      <div id="_Lexilu_2019">
        <span>@Lexilu 2019</span>
      </div>
      <svg class="logo_wide_A4_Rectangle_7">
        <pattern elementId="logo_wide_A4_Rectangle_8" id="logo_wide_A4_Rectangle_8_pattern" x="0" y="0" width="100%"
          height="100%">
          <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/logo_wide_A4_Rectangle_8_pattern.png"
            xlink:href="logo_wide_A4_Rectangle_8_pattern.png"></image>
        </pattern>
        <rect fill="url(#logo_wide_A4_Rectangle_8_pattern)" id="logo_wide_A4_Rectangle_7" rx="0" ry="0" x="0" y="0"
          width="206.742" height="50">
        </rect>
      </svg>
      <div id="Privacy_statement">
        <span>Privacy statement</span>
      </div>
      <div id="Cookies___terms_of_use">
        <span>Cookies & terms of use</span>
      </div>
      <div id="About_us">
        <span>About us</span>
      </div>
      <div id="Report_an_issue___Get_help">
        <span>Report an issue / Get help</span>
      </div>
      <svg class="Line_1" viewBox="0 0 500 1">
        <path fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
          stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 0 0 L 500 0">
        </path>
      </svg>
    </div>
    <svg class="lexilu_tour_slide1">
      <pattern elementId="lexilu_tour_slide1_A4_Rectangle_10" id="lexilu_tour_slide1_A4_Rectangle_10_pattern" x="0"
        y="0" width="100%" height="100%">
        <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/lexilu_tour_slide1_A4_Rectangle_10_pattern.png"
          xlink:href="lexilu_tour_slide1_A4_Rectangle_10_pattern.png"></image>
      </pattern>
      <rect fill="url(#lexilu_tour_slide1_A4_Rectangle_10_pattern)" id="lexilu_tour_slide1" rx="0" ry="0" x="0" y="0"
        width="1900" height="750">
      </rect>
    </svg>
    <div id="arrows">
      <svg class="arrow_left">
        <pattern elementId="arrow_left_A4_Rectangle_12" id="arrow_left_A4_Rectangle_12_pattern" x="0" y="0" width="100%"
          height="100%">
          <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/arrow_left_A4_Rectangle_12_pattern.png"
            xlink:href="arrow_left_A4_Rectangle_12_pattern.png"></image>
        </pattern>
        <rect fill="url(#arrow_left_A4_Rectangle_12_pattern)" id="arrow_left" rx="32" ry="32" x="0" y="0" width="64"
          height="135">
        </rect>
      </svg>
      <svg class="arrow_right">
        <pattern elementId="arrow_right_A4_Rectangle_14" id="arrow_right_A4_Rectangle_14_pattern" x="0" y="0"
          width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="../../assets/journey/arrow_right_A4_Rectangle_14_pattern.png"
            xlink:href="arrow_right_A4_Rectangle_14_pattern.png"></image>
        </pattern>
        <rect fill="url(#arrow_right_A4_Rectangle_14_pattern)" id="arrow_right" rx="32" ry="32" x="0" y="0" width="64"
          height="135">
        </rect>
      </svg>
    </div>
    <div id="dots_selector">
      <svg class="Ellipse_1">
        <ellipse fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
          stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_1" rx="7.5" ry="7.5" cx="7.5"
          cy="7.5">
        </ellipse>
      </svg>
      <svg class="Ellipse_2">
        <ellipse fill="rgba(255,255,255,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
          stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_2" rx="7.5" ry="7.5" cx="7.5"
          cy="7.5">
        </ellipse>
      </svg>
      <svg class="Ellipse_3">
        <ellipse fill="transparent" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
          stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3" rx="7.5" ry="7.5" cx="7.5"
          cy="7.5">
        </ellipse>
      </svg>
    </div>
  </div>
</body>

</html>